
    
   ion-content{

        .rowStyle {
            border-bottom: 1px solid #C7C7C7;
        }
        .color1{
            color: #EE5856;
            font-weight: bold;
            font-size: 12pt;
        }
    
        .color2{
           color:  #F5A623;
           font-weight: bold;
            font-size: 12pt;
        }
    
        .color3{
            color: #7ED321;
            font-weight: bold;
            font-size: 12pt;
        }
        .txt-color{
           color:  #4A4A4A;
           font-weight: bold;
            font-size: 11pt;
        }
        .odd {
            border-bottom: 1px solid #C7C7C7;
        }
   }


   
  
    
