<!--
  Generated template for the RamzPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button detail-none ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Ramz'|translate}}</ion-title>
    <!-- <ion-item>
        <img item-end  class="image" src="assets/img/close.png" />
      </ion-item> -->
  </ion-navbar>
</ion-header>
<ion-content padding>

  <div style="padding-top: 3%;" *ngIf="langId==1">
    <h4 class="text-center" style="color:black">
      مرحبا بك في تطبيق/ موقع
      <label style="color:red">RMZ</label>
    </h4>

    <ion-note text-wrap>
      <p style="color:black">مشروع
        <label style="color:red">RMZ</label> هو أول منصة تسويقيّة للعلامات التجاريّة، فهي قاعدة تسويقيّة متكاملة للمشاريع الكبيرة والمتوسطة والصغيرة
        ومحطة بداية لكافة المشاريع منها المشاريع الطلابيّة والمنزليّة. رمز هو تطبيق إلكترونيّ للهواتف الذكيّة له تصنيفات
        متعددة وفق اهتمامات الشركات كالفئات العمريّة، والجنس، والموقع الجغرافيّ، كما أن له تصنيفات أخرى وفق اهتمامات المستهلك
        لمختلف الأنشطة التجاريّة. ويُعنى أيضا بنشر الإعلانات التسويقيّة من قبل الشركات، وذلك لضمان سرعة النشر والوصول إلى
        الهدف المطلوب. رمز خريطة مصغرة للمستهلك يسهل عليه الوصول إلى لبّ السوق المحليّ للبحث عن جميع المنتجات، والخدمات،
        وذلك من خلال تحديد الموقع الجغرافيّ ونوع النشاط التجاريّ. يسمح رمز للمستهلك بتصفح الخدمات، والعلامات التجارية٬ والمنتجات
        التي تقدمها الشركات، والتعرف على أحدث العروض والتخفيضات التنافسيّة، ويتيح فرصة تقويم المنتجات والخدمات للمستهلك.
        رمز فكرة مستحدثة من شركة البوارج للتسويق؛ للنهوض، ومواكبة الحداثة، وتخطى الصعاب، وتصحيح العيوب؛ لإرضاء المستهلك والشركات.
      </p>
    </ion-note>

  </div>

  <div style="padding-top: 3%;" *ngIf="langId==2">
    <h4 class="text-center" style="color:black">
      Welcome to the
      <label style="color:red">RMZ</label> application / site

    </h4>

    <ion-note text-wrap>
      <p style="color:black">
        <label style="color:red">RMZ</label> is the first marketing platform for brands. It is an integrated marketing base for large, medium and
        small projects and a starting point for all projects, including student and home projects. RMZ is a smart phones
        application with multiple categories according to the interests of companies such as age groups, gender, geographical
        location, and has other classifications according to consumer interests for various business activities. It also
        deals with the publication of marketing announcements by companies, in order to ensure rapid deployment and reach
        the desired goal. It is a consumer map icon that makes it easy to access the core of the local market to search for
        all products and services by identifying the location and type of business. RMZ allows the consumer to browse the
        services, brands and products provided by companies, identify the latest offers and competitive discounts, and provide
        an opportunity to evaluate products and services to the consumer. RMZ is an innovative concept from Al-Bwareg Marketing
        Company to advance and cope with modernity, overcome difficulties and correct defects to satisfy consumers and companies.
      </p>
    </ion-note>

  </div>

</ion-content>