<ion-header no-border *ngIf="shared.isIOS">
  <ion-navbar transparent>
    <ion-buttons left style="display: block;">
      <button ion-button icon-only (click)="viewCtrl.dismiss()" style="color:rgba(238, 100, 100, 1.0) !important;" class="back-button-icon"
        color="dark">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content class="page-forgot-password" padding>
  <ion-row class="grid-t">
    <ion-col>
      <div class="logo">
        <img class="image" src="assets/icon.png" />
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="grid-t">
    <ion-col center text-center>
      <ion-note>{{'We will send' | translate}}
        <br/> {{'Your password' | translate}}.</ion-note>
    </ion-col>
  </ion-row>

  <form #loginForm="ngForm" class="form" (ngSubmit)="forgetPassword()">
    <ion-row class="grid-b">
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label color="dark">
              <ion-icon name="mail" item-left></ion-icon>
            </ion-label>
            <ion-input type="text" name="customers_email_address" value="{{'Email'|translate}}" placeholder="{{'Your Email'|translate}}"
              [(ngModel)]="formData.customers_email_address" required></ion-input>
          </ion-item>
        </ion-list>

      </ion-col>
      <!-- <ion-col col-12>
          <label *ngIf="errorMessage!=''">
            <span>{{errorMessage}}</span>
          </label>
        </ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button detail-none ion-button block outline small style="border-color: rgba(238, 100, 100, 1.0) !important;
      color: rgba(238, 100, 100, 1.0)!important;width:100%; padding:20px;
      background-color: transparent;" color="secondary" type="submit" [disabled]="!loginForm.form.valid">{{ 'Retrieve' | translate }}</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>