page-home5 {
    ion-footer {
        .image {
            width: 100%;
            height: 95px;
            overflow: hidden;
            img {
                width: 100%;
                height: 97%;
            }
        }
    }
    .page-home5 {
        .card:first-child {
            margin-top: 0;
        }
        .card {
            width: calc(100% - 0px);
            border-radius: 0;
            position: relative;
            text-align: center;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-top: 1px;
            min-height: 130px;
            max-height: 130px;
            .categories-title {
                position: absolute;
                top: 30%;
                font-size: 1.6em;
                width: 100%;
                font-weight: bold;
                color: #fff;
            }
            .categories-subtitle {
                font-size: 1.0em;
                position: absolute;
                bottom: 30%;
                width: 100%;
                color: #fff;
            }
        }
        .card::before {
            content: "";
            background-color: $black;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            opacity: 0.58;
        }
    }
}