page-notification {
    .danger {
        background: color($colors, danger);
    }

    .secondary {
        color: #64f087 ;
    }

    .borderBottom {
        border-bottom: solid 1px #c4c4d1; 
    }
}
