<ion-card class="animated fadeIn">

  <ion-card-content>
    <ion-card-title>
      <div class="line-clamp">{{p.ItemTitle}}</div>
      <div class="line-text">{{p.ItemDescription}}</div>
    </ion-card-title>
    <ion-row class="card-thumb" (click)="showProductDetail()">
      <img class="image" *ngIf="!shared.isVideo(p.ItemPath)" src="{{config.companyImageURL+p.ItemPath}}" />

      <!-- <div class="svg-container2" *ngIf="shared.isVideo(p.ItemPath)">
        <object type="image/svg+xml" data="assets/img/video-camera.svg" width="100%" height="100%" class="svg-content">
        </object>
      </div> -->
      <svg-icon *ngIf="shared.isVideo(p.ItemPath)" src="assets/img/video-camera.svg" style=" width: 51px; height: 51px;margin-left: auto;margin-right: auto"></svg-icon>
    </ion-row>
    <ion-row class="card-attr">
      <ion-col text-center col-4>
        <ion-icon *ngIf="p.favorite==true" [name]="'heart'" (click)="fav(p)" color="heart"></ion-icon>
        <ion-icon *ngIf="p.favorite==false" [name]="'heart-outline'" color="heart" (click)="fav(p)"></ion-icon>
      </ion-col>
      <ion-col col-8>
        <h6 class="card-price-normal" *ngIf="p.Price==null">{{p.Price}}
          <span style="color:#000"> {{'OMR'|translate}}</span>
        </h6>
        <!-- <h2 class="card-price-normal-through" *ngIf="p.Price!=null">{{p.Price|curency}}</h2> -->
        <h6 class="card-price-normal" *ngIf="p.Price!=null">{{p.Price}}
          <span style="color:#000"> {{'OMR'|translate}}</span>
        </h6>
      </ion-col>

    </ion-row>
  </ion-card-content>



</ion-card>