page-news {
    .page-news{
        ion-slides{
            height: auto;
    
            h4{
                display: none;
            }
        }
        .segments-inner{
            .segments-posts{
                .list{
                    .item{
                        background-color: $white;
                        h2{
                            color:color($colors, dark);
                            small{
                                .icon{
                                    color:color($colors, primary);
                                    margin-right: 5px;
                                }
                            }
                        }
                        .post-excerpt{
                            font-size:14px;
                            margin-bottom:0;
                            margin-top:5px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            height:38px;
                            white-space: normal;
                            p:first-child{
                                white-space: normal;
                                line-height: 1.4;
                                -webkit-line-clamp: 2;
                                display: -webkit-box;
                                box-sizing: border-box;
                                -webkit-box-orient: vertical;
                            }
                            p{
                                display: none;
                            }
                            strong{
                                font-weight: normal;
                            }
                        }
                    }
                }
            }

            .segments-categories{
                margin-top: 10px;
                .grid-categories{
                    padding: 0;

                    .col:nth-child(2n + 1){
                        padding-left: 0.5px;
                    }
                    .col{
                        padding-top: 0;
                        padding-left:0;
                        padding-right:0;
                        padding-bottom: 1px;
                    }
                    .card-background-page::before{
                        content: "";
                        background-color: $black;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0.80;
                    }
                    .card-background-page {
                        width: calc(100% - 1px);
                        margin: 0;
                        position: relative;
                        text-align: center;
                        border-radius: 0;

                        .card-title {
                            position: absolute;
                            top: 36%;
                            font-size: 16px;
                            width: 100%;
                            font-weight: bold;
                            color: #fff;
                        }
                    
                        .card-subtitle {
                            font-size:14px;
                            position: absolute;
                            top: 52%;
                            width: 100%;
                            color: #fff;
                        }
                    
                    }
                }
            }
        }
    }
}
