page-requests {
    .danger {
      color: color($colors, danger);
    }

    .secondary {
      color: #64f087 ;
    }
    
    .borderBottom {
      border-bottom: 1px solid #C7C7C7;
    }
}
