<ion-header no-border>
  <ion-navbar transparent>
    <ion-buttons right style="display: block;">
      <button ion-button icon-only (click)="dismiss()" style="color: #9C9C9C;" class="back-button-icon" color="dark">
        <ion-icon style="zoom:1.3;" name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- <div [innerHTML]="sharedData.privacyPolicy"></div> -->
  <div style="padding-top: 3%;" *ngIf="langId==2">

    <h4 class="text-center" translate="Terms and Conditions of RMZ"></h4>
    <ion-note text-wrap>
      <p>This agreement contains important information that will be approved by anyone who uses the application immediately
        after its registration in the application. It is the user's responsibility to review the terms and conditions before
        using the application. Therefore, we are not responsible for the user's actions.
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="Privacy policy"></h4>
    <ion-note text-wrap>
      <p>The policy provides the method of collecting the consumer's data in the manner used by the application code and we
        recommend reading the privacy policy carefully. The consumer agrees to the collection and use of his/ her data by
        electronic application of the Service Providers.
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="Protect your privacy"></h4>
    <ion-note text-wrap>
      <p>The RMZ appreciates your confidence in us, and we want you to feel comfortable and safe when using our website / application
        and share your information with us, and therefore we are very proud of our commitment to protect your privacy. Please
        continue to read the following policies to understand how the personal information is treated. Privacy Policy RMZ
        guarantees not to sell, rent or share your personal information to any third party (except as provided in this Privacy
        Policy without your consent.
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="Information that can be collected from you"></h4>
    <ion-note text-wrap>
      <p>The electronic application collects the information provided by you when you register in the application and submit
        applications in a record with the information we have identified about you through your use of our site, including
        collecting information about the processes you perform on the electronic application. We may also collect additional
        information regarding your participation in any of our offers. We also monitor customer traffic patterns and application
        usage, which enable us to improve our service. If you do not agree to this privacy you cannot access the application.
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="Cases of disclosure of your information"></h4>
    <ion-note text-wrap>
      <p>We will not use your personal information for any other purpose than to complete the registration process and verify
        your identity. We do not rent, sell or share your personal information, and we will not disclose any personal information
        to any third party except on the following circumstances: 1. We have your permission; 2. To provide the products
        and services you requested 3. To assist in the prevention or disposal of acts involving unlawful, illegal or fraudulent
        activities or which pose a threat to the safety or security of any person or in cases of violation of the Employment
        Convention or to defend against legal claims. 4. Special circumstances such as compliance with summons orders, court
        orders, request / order from the statutory authority arise

      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="Our Responsibility"></h4>
    <ion-note text-wrap>
      <p>Although we will keep your personal information confidential, the transmissions made by the Internet cannot be completely
        secure. By using this Site / Application, you agree that we have no responsibility to disclose your information due
        to errors by any party in the transmission or unauthorized acts of third parties. Therefore, the RMZ application
        is not liable for any damage, financial or product liability, fraudulent activity, or any conduct contrary to the
        law in force in the country. It is our responsibility to review all content or images posted on the site / application.
        We reserve the right to change or update our policy at any time, and notify you of changes in the event that this
        occurs. Such changes are effective as soon as they are placed on the "Site / App".
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="Electronic communications"></h4>
    <ion-note text-wrap>
      <p>By agreeing to use the application and our online services, you also agree to receive our electronic communication
        with you in all its forms through e-mail, periodicals, notices or alerts posted on the website. Accordingly, you
        implicitly agree that all electronic transactions sent to you by us are legally binding and are treated as the transaction
        of the written transaction.
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="Your personal information and transaction details"></h4>
    <ion-note text-wrap>
      <p>You agree to grant RMZ application an unlimited right by using or otherwise providing you with your personal information,
        provided by you through the electronic application or by announcing it to the application through registration, through
        forms for communication and registration, or through any email or communication channels available on the site in
        order to operate and promote the application in accordance with the privacy policy of the application.
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="Your account"></h4>
    <ion-note text-wrap>
      <p>The information you provide during registration is protected by the terms of the Privacy Policy described above. You
        agree that you will be responsible for maintaining the confidentiality of your account information and password and
        will also agree to immediately notify the Application Code of any unauthorized use of your login or account or any
        other breach of confidential information. In no event shall the Code be liable for any loss you may incur directly
        or indirectly, morally or materially, as a result of disclosure of your username or password information from any
        third party. If you do not comply with any of the Terms of Use, the site / application management has the right to
        suspend or cancel your membership and to block you from the site / application. We also reserve the right to cancel
        any unconfirmed and unsubstantiated accounts, operations or accounts that have been long past inactive.
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="Terms of Service"></h4>
    <ion-note text-wrap>
      <p>The user agrees not to use the services for any purpose that is unlawful or prohibited under these terms: 1) Abuse,
        harassment, threat, intimidation or impersonation of any person. 2. Post, transmit or cause the publication or transmission
        of any defamatory, obscene, pornographic, offensive, or infringing content of any copyright or other right of any
        person. (3) Publish any purpose (including publication or display of content) that are not permitted under the laws
        of the jurisdiction in which the services are used. 4 / Create or transmit unwanted spam or viruses. 5 / Create multiple
        accounts using images and fake user ID. 6 / Publish content with bank transfer options. 7 / publish content does
        not own its own copyright. Upload photos containing names, phone numbers or contact information. 9 / Copy any content
        of another user. 10 / Send messages, links or images that are not intended for other users and are not related to
        the content. 11 / Use the contact details of others for undesirable purposes.

      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="Items that are not allowed in the RMZ application:"></h4>
    <ion-note text-wrap>
      <p>The user account on the site / application "RMZ" to access code services and use them effectively: there is a registration
        process that enables you to obtain your user ID and password. The user is responsible for the confidentiality of
        his data and for all activities that occur in his / her account.  Example of businesses that are blocked from showing:
        1 / Alcoholic beverages, wines, tobacco products, drugs and others. 2 / Organs trade of the human body. 3. Prostitution
        or other services that violate ethical standards. 4 / Religious books 5 / Any offensive material sexually assaulted
        6 / pirated goods and stolen 7 / Offer illegal services that you are not authorized to display 8 / Selling the property
        of others without their consent. 9 / Chemicals and insecticides 10 / Fireworks, destructive devices and explosives
        11 / Weapons and Ammunition.

      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="Note"></h4>
    <ion-note text-wrap>
      <p>If we find any violation of these terms, we will remove the content and block the user from taking advantage of the
        application services.
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="Applicable law"></h4>
    <ion-note text-wrap>
      <p>The Terms of Use shall be subject to interpretation, implementation and all aspects of the provisions of the regulations
        in force in the Sultanate and its judicial authorities. Contact Information Thank you for visiting the "Application
        Code" on the Internet which is owned by AlBwareg Marketing Company. It is a registered company in the Ministry of
        Commerce and Industry under Commercial Registration No. 1247312. Office address sultanate of Oman – Muscat – Alkhoud
        – Mazoon street If you have any comments or suggestions, we'd be pleased to receive them on: 1. Email rmzapp.om@gmail.com
        2. Telephone number 22342492 3. Telephone number 90505052
      </p>
    </ion-note>
  </div>


  <div style="padding-top: 3%;" *ngIf="langId==1">
    <h4 class="text-center">
      الشروط والأحكام الخاصة بتطبيق
      <label style="color:red">RMZ</label>
    </h4>

    <ion-note text-wrap>
      <p>مشروع
        <label style="color:red">RMZ</label> تحتوي هذه الاتفاقية على المعلومات المهمة التي سيوافق عليها كل من يستخدم التطبيق ويلتزم بها مباشرة بعد
        تسجيله في التطبيق. ومن مسؤولية المستخدم مراجعة الشروط والأحكام قبل استخدام التطبيق حيث إننا في موقع/تطبيق (RMZ) لا
        نتحمل مسؤولية تصرفات المستخدم.</p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="سياسة الخصوصية"></h4>
    <ion-note text-wrap>
      <p>هي السياسة التي توفر طريقة جمع البيانات الخاصة بك بالطريقة المستخدمة من قبل تطبيق رمز وننصح بقراءة سياسة الخصوصية بعناية.
        فأنت ستوافق على جمع واستخدام البيانات الخاصة بك عن طريق التطبيق الالكتروني من مقدمي الخدمة.
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="حماية الخصوصية الخاصة بك"></h4>
    <ion-note text-wrap>
      <p>رمز تقدر ثقتك بنا، ونريدك أن تشعر بالراحة والأمان عند استخدام موقعنا/ تطبيقنا ومشاركتك المعلومات الخاصة بك معنا، وبالتالي
        نحن فخورون للغاية بالتزامنا لحماية خصوصيتك. نرجو مواصلة قراءة السياسة التالية لفهم كيف يتم التعامل مع المعلومات الشخصية
        الخاصة بك.
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="ضمان الخصوصية"></h4>
    <ion-note text-wrap>
      <p>تعد رمز بعدم بيع أو تأجير أو مشاركة معلوماتك الشخصية لأي طرف ثالث (باستثناء ما هو منصوص عليه في سياسة الخصوصية هذه)
        دون موافقتك.
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="المعلومات التي يمكن جمعها منك"></h4>
    <ion-note text-wrap>
      <p> يجمع التطبيق الالكتروني المعلومات التي قدمت من خلالكم عند التسجيل في التطبيق وتقديم الطلبات في سجل مع المعلومات التي
        عرفناها عنك من خلال استخدامك موقعنا بما في ذلك جمع المعلومات عن العمليات التي تقوم بها على التطبيق الالكتروني. قد
        نقوم أيضا بجمع معلومات إضافية فيما يتعلق بمشاركتكم في أي من العروض التي نوفرها. نحن نراقب أيضاً أنماط حركة المرور
        للعملاء واستخدام التطبيق، والتي تمكننا من تحسين الخدمة التي نقدمها. إذا كنت لا توافق على سياسة الخصوصية هذه، لا يمكنك
        تسجيل الدخول إلى التطبيق.
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="حالات الإفصاح عن المعلومات الخاصة بك"></h4>
    <ion-note text-wrap>
      <p>لن نستخدم معلوماتك الشخصية لأي غرض آخر سوى إتمام عملية التسجيل والتأكد من هويتك. نحن لا نؤجر أو نبيع أو نشارك المعلومات
        الشخصية الخاصة بك، ولن نكشف عن أي معلومات شخصية إلى أي طرف ثالث إلا في الحالات التالية: • أن يكون لدينا إذن منك؛
        • لتوفير منتجات وخدمات طلبتها • للمساعدة في تحقيق أو منع التصرفات التي تتعلق بأنشطة غير مشروعة وغير قانونية أو المشتبه
        بهم بالاحتيال أو التي تشكل خطراً على سلامة أو أمن أي شخص أو في حالات انتهاك اتفاقية الاستخدام أو للدفاع ضد المطالبات
        القانونية. • ظروف خاصة مثل الامتثال لأوامر الاستدعاء، أوامر المحكمة، طلب/أمر من السلطة النظامية.

      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="مسؤوليتنا"></h4>
    <ion-note text-wrap>
      <p> رغم أننا سنعمل على الحفاظ على سرية معلوماتك الشخصية، لا يمكن أن يكون الارسال الذي يتم بواسطة شبكة الإنترنت أن يكون
        آمن تماماً. باستخدام هذا “الموقع/التطبيق”، فإنك توافق على أننا لا نتحمل أية مسؤولية عن الإفصاح عن المعلومات الخاصة
        بك بسبب أخطاء أي طرف في الإرسال أو أعمال غير مصرح بها لأطراف ثالثة. لذلك لا يعتبر موقع/تطبيق RMZ مسؤولا عن أي ضرر
        أو مسائل تتعلق بالأمور المالية أو ضمانات المنتجات أو النشاط الاحتيالي أو أي تصرف مخالف للقانون الساري في البلاد.
        من مسؤوليتنا نقوم بالتدقيق على كل المحتويات أو الصور التي يتم نشرها على الموقع /التطبيق.

      </p>
    </ion-note>

    <p text-wrap></p>
    <h4 class="text-center" translate="الاتصالات الإلكترونية"></h4>
    <ion-note text-wrap>
      <p> بموافقتك على استخدام” التطبيق” وخدماتنا الإلكترونية فإنك بذلك توافق أيضا على استقبال تواصلنا الإلكتروني معك بجميع أشكاله
        من خلال البريد الإلكتروني أو النشرات الدورية أو الإشعارات والتنبيهات المعلن عنها في “الموقع الالكتروني”. بناءاً على
        ذلك فأنت توافق ضمنياً على أن جميع المعاملات الإلكترونية المرسلة لك من قبلنا هي ملزمة قانونيا وتعامل معاملة المعاملات
        الخطية.
      </p>
    </ion-note>

    <p text-wrap></p>
    <h4 class="text-center" translate="معلوماتك الشخصية ومعلومات تفاصيل العمليات"></h4>
    <ion-note text-wrap>
      <p> أنت توافق بأن تمنح تطبيق رمز حقاً غير محدود باستخدام معلوماتك الشخصية أو غير ذلك، التي زودتنا بها من خلال التطبيق الإلكتروني
        أو أعلنتها على التطبيق من خلال التسجيل، وذلك عبر النماذج المخصصة للتواصل والتسجيل، أو عبر أية رسالة إلكترونية أو
        أي من قنوات الاتصال المتاحة بالموقع بهدف تشغيل وترويج التطبيق وذلك وفقا لسياسة الخصوصية الخاصة بـالتطبيق .
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="حسابك"></h4>
    <ion-note text-wrap>
      <p> إن المعلومات الي تقدمها خلال عملية التسجيل هي بيانات محمية وفقاً لبنود سياسة الخصوصية الموضحة أعلاه. أنت توافق أن تكون
        مسؤولاً عن المحافظة على سرية معلومات حسابك وكلمة المرور السرية وتكون بذلك موافقاً أيضا على إعلام تطبيق رمز حالاً
        بأي استخدام غير مفوض به لكلمة دخولك أو حسابك أو أي اختراق آخر لمعلوماتك السرية. ولن يكون موقع رمز بأي حال من الأحوال
        مسؤولاً عن أي خسارة قد تلحق بك بشكل مباشر أو غير مباشر معنويا أو ماديا نتيجة كشف معلومات اسم المستخدم أو كلمة المرور
        من أي طرف ثالث. في حالة عدم الالتزام بأي مما ورد في اتفاقية الاستخدام فإن لإدارة الموقع/التطبيق الحق في إيقاف أو
        إلغاء عضويتك وحجبك عن الموقع/التطبيق. ونحتفظ كذلك بالحق في إلغاء أي حسابات غير مؤكدة وغير مثبتة أو عمليات أو حسابات
        مر عليها مدة طويلة دون نشاط.

      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="شروط الخدمة"></h4>
    <ion-note text-wrap>
      <p> يوافق المستخدم على عدم استخدام الخدمات لأي غرض غير قانوني أو محظور بموجب هذه الشروط:  ١/ الإساءة إلى أي شخص أو مضايقته
        أو تهديده أو تخويفه أو انتحال شخصيته  . ٢/ نشر أو نقل أو التسبب في نشر أو نقل أي محتوى تشهيري أو فاحش أو إباحي أو
        مسيء أو أو ينتهك أي حق من حقوق الطبع والنشر أو أي حق آخر لأي شخص. ٣/ نشر أي غرض (بما في ذلك نشر أو عرض محتوى) غير
        مسموح به بموجب قوانين الدولة القضائية التي تستخدم فيها الخدمات.  ٤/ إنشاء أو نقل الرسائل المزعجة غير المرغوب فيها
        أو الفيروسات.  ٥/ إنشاء حسابات متعددة باستخدام صور وهوية مستخدم وهمي. ٦/ نشر محتوى به خيارات تحويل مصرفي.  ٧/ نشر
        محتوى لا تملك حقوق التأليف والنشر الخاصة به.  ٨/ تحميل صور تحتوي على أسماء أو أرقام هواتف أو معلومات اتصال.  ٩/ نسخ
        أي محتوى خاص بمستخدم آخر.  ١٠/ إرسال رسائل أو روابط أو صور غير مرغوب فيها لمستخدمين آخرين وليس لها صلة بالمحتوى.
        ١١/ استخدام تفاصيل الاتصال الخاصة بالآخرين لأغراض غير مرغوب فيها
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="البنود المحظور عرضها في تطبيق (RMZ):"></h4>
    <ion-note text-wrap>
      <p> حساب المستخدم على موقع/تطبيق "RMZ" من أجل الوصول إلى خدمات رمز واستخدامها الاستخدام الامثل، هناك عملية تسجيل تمكّنك
        من الحصول على هوية مستخدم وكلمة مرور خاصة بك. والمستخدم هو المسؤول عن سرية بياناته. والمستخدم يتحمل مسؤولية جميع
        الأنشطة التي تحدث في حسابه.  من الأنشطة التجارية المحظور عرضها في التطبيق: ١/ المشروبات الكحولية والخمور ومنتجات
        التبغ والمخدرات وغيرها.  ٢/ بيع أعضاء جسم الإنسان.  ٣/ الدعارة أو أي خدمات أخرى تخالف المعايير الأخلاقية. ٤/ الكتب
        الدينية ٥/ أي مواد مسيئة تعرض نشاطا جنسيا ٦/ السلع المقرصنة والمسروقة  ٧/ عرض خدمات غير مشروعة ليس مرخصا لك بعرضها
        ٨/ بيع ممتلكات الغير دون موافقتهم.  ٩/ المواد الكيميائية ومبيدات الحشرات ١٠/ الألعاب النارية والأجهزة المدمرة والمتفجرات
        ١١/ الأسلحة والذخائر .
      </p>
      <p>ملاحظة</p>
      <p>إذا وجدنا أي مخالفة لهذه الشروط المذكورة، فسوف نقوم بإزالة المحتوى وحظر المستخدم عن الاستفادة من خدمات التطبيق.</p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="القانون الواجب للتطبيق"></h4>
    <ion-note text-wrap>
      <p> تخضع اتفاقية الاستخدام في تفسيرها وتنفيذها وكافة جوانبها لأحكام الأنظمة المطبقة في السلطنة والجهات القضائية بها.
      </p>
    </ion-note>
    <p text-wrap></p>
    <h4 class="text-center" translate="معلومات التواصل"></h4>
    <ion-note text-wrap>
      <p>شكرا لكم لزيارة “تطبيق رمز” على شبكة الانترنت والذي تملكه شركة البوارج للتسويق وهي شركة مسجلة في وزارة التجارة والصناعة
        تحت سجل تجاري رقم ١٢٤٧٣١٢ بعنوان المكتب سلطنة عمان – مسقط – الخوض – شارع مزون</p>
      <p>إذا كانت لديك أي تعليقات أو اقتراحات، فيسعدنا استقبالها على:</p>
      <p>البريد الالكتروني rmzapp.om@gmail.com </p>
      <p>رقم الهاتف 22342492</p>
      <p>رقم التلفون 90505052</p>
    </ion-note>


  </div>
</ion-content>