page-login {
    .page-login {
        .grid-t{
            .logo1{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-left: auto;
                margin-right: auto;

                overflow: hidden;
                border-width: 2px;
                border-style: solid;
                margin-top: 40%;
                border-color:color($colors, light); 
                .image{
                    display: block;
                }
            }
        }

        .grid-b{
            .col{
                .button{
                    margin-left: 0;
                    margin-right: 0;
                    .icon{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}