page-search {
    .rowStyle {
        border-bottom: 1px solid #C7C7C7;
    }
    .selector {
        line-height: 1.3;
        letter-spacing: 0.1px;
        width: 100% !important;
        max-width: 100% !important;
        border: solid 1px #c4c4d1;
      }
}
